[Desktop Entry]
Name=LDAP Editor
Comment=View and edit LDAP directories
Exec=LdapEditorApp
Icon=LdapEditorApp
Categories=Utility;X-Qt;X-LdapEditor;
Terminal=false
Type=Application
MimeType=application/x-ldapeditor-item;
GenericName=LDAP Editor
